.properties {
  margin-bottom: 6.4rem;
}

.properties-intro {
  max-width: 54.4rem;
  margin-bottom: 4.9rem;
  margin-inline: auto;
  text-align: center;
  &__heading {
    margin-bottom: 2.4rem;
  }

  &__info {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--c-text-secondary);
  }
}

.properties-buttons {
  display: flex;
  justify-content: center;
  gap: clamp(0.622rem, -0.744rem + 3.644vw, 3.3rem);
  max-width: 35.2rem;
  margin-inline: auto;
  margin-bottom: 3.2rem;
  padding: 0.8rem;
  background-color: var(--c-tabs-background);
  border: 0.1rem solid var(--c-tabs-stroke);
  border-radius: 0.8rem;

  //Jeśli --tab ma hover,focus, bądź active wtedy inactive ma inny kolor
  &:has([class*="--tab"]:hover),
  &:has([class*="--tab"]:focus-visible),
  &:has([class*="--tab"]:active) {
    [class*="--tab-inactive"] {
      color: var(--c-tab-inactive-text);
    }
  }
}
