@use "./base/resolutions.scss" as *;

.testimonials {
  background-image: var(--gradient);
}

.testimonials-wrapper {
  display: grid;
  gap: 2.8rem;
  padding-block: 1.6rem;
  text-align: center;

  @include desktopSmall {
    gap: 4.8rem;
    margin-bottom: 6.4rem;
    padding-block: 3.2rem;
  }
}

.testimonials-intro {
  display: inherit;
  justify-items: center;
  gap: 1.6rem;

  &__info {
    max-width: 35.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--c-text-main-transparent-alt);
  }
}

.testimonials-details {
  display: inherit;
  gap: 1.6rem;
  max-width: 73.6rem;
  margin-inline: auto;

  @include desktopSmall {
    gap: 3.2rem;
  }

  &__opinion {
    min-height: 9.6rem;
    font-weight: 500;
  }

  &__name-container {
    font-size: 1.6rem;
  }

  &__profession {
    font-weight: 400;
    color: var(--c-text-secondary);
  }
}

.testimonials-customers {
  margin-inline: auto;

  &__items-list {
    display: flex;
    gap: 3.2rem;
  }

  &__item {
    &.--active {
      .testimonials-customers__circle {
        animation: testimonialBorderAnimation 1s ease-in-out forwards;
      }
    }
  }

  &__circle-container {
    display: flex;
    width: 8rem;
    margin-right: 1rem;
    position: relative;
  }

  &__circular-chart {
    display: block;
    visibility: hidden;

    &.--active {
      stroke: var(--c-accent);
      visibility: visible;
    }
  }

  &__circle-outline {
    fill: none;
    stroke: var(--c-outline-default);
    stroke-width: 1.7;
  }

  &__circle {
    fill: none;
    stroke-width: 1.7;
    stroke-linecap: round;
  }

  &__image-container {
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes testimonialBorderAnimation {
  0% {
    stroke-dasharray: 0 100;
  }
}
