@use "resolutions" as *;
@use "typography" as *;

:root {
  /* 
  =====================
      Color Variables
  =====================*/
  --c-neutral: #ffffff;
  --c-background-color: var(--c-neutral);
  --c-text-main: #000000;
  --c-text-main-transparent: rgba(0, 0, 0, 0.5);
  --c-text-main-transparent-alt: rgba(0, 0, 0, 0.7);
  --c-text-secondary: #7b8191;
  --c-text-secondary-transparent: rgba(123, 129, 145, 0.5); //50%
  --c-accent: #6851ff;
  --c-malibu: #8b8aff;
  --c-logo-text: #0e0854;
  --c-stroke: #f5f7fb;
  --c-stroke-footer: #e8e6f9;
  --c-stroke-hero: #d6d8e5;
  --c-blur-background: rgba(255, 255, 255, 0.9);
  --c-box-shadow: #e6e6ed;
  --c-outline-default: #eaecf4;

  //Card
  --c-card-background: var(--c-neutral);
  --c-card-stroke: #eaecf4;
  --c-card-boxshadow: var(--c-box-shadow);
  --c-card-property-name: var(--c-neutral);

  //Favourite
  --c-favourite-default-border: #eaecf4;
  --c-favourite-default-icon-stroke: var(--c-accent);
  --c-favourite-hover-border: var(--c-malibu);
  --c-favourite-hover-icon-stroke: #3d1efe;
  --c-favourite-hover-box-shadow: 0px 4px 40px var(--c-box-shadow);
  --c-favourite-focus-border: var(--c-malibu);
  --c-favourite-focus-icon-stroke: #3d1efe;
  --c-favourite-focus-background: rgba(60, 30, 254, 0.2);
  --c-favourite-pressed-border: var(--c-malibu);
  --c-favourite-pressed-icon-stroke: var(--c-neutral);
  --c-favourite-pressed-background: var(--c-accent);

  //Testimonials
  --c-testimonial-background: #d6d8e5;
  --c-testimonial-background-active: #ded1fa;

  //Gradient
  --c-gradient-start: var(--c-neutral);
  --c-gradient-end: #f4effe;
  --gradient: linear-gradient(var(--c-gradient-start), var(--c-gradient-end));

  //Buttons
  --c-stroke-button: #d6d8e5;
  --c-button-primary-text: var(--c-neutral);
  --c-button-primary-default-background: var(--c-accent);
  --c-button-primary-hover-background: var(--c-malibu);
  --c-button-primary-focus-background: var(--c-accent);
  --c-button-primary-focus-stroke: #3118d6;
  --c-button-primary-pressed-background: #3d1efe;
  --c-button-primary-disabled-backround: #b5b8cb;

  --c-button-secondary-default-stroke: var(--c-stroke-button);
  --c-button-secondary-hover-stroke: var(--c-accent);
  --c-button-secondary-focus-text: var(--c-accent);
  --c-button-secondary-focus-stroke: var(--c-accent);
  --c-button-secondary-pressed-text: #2511ae;
  --c-button-secondary-pressed-stroke: #2511ae;
  --c-button-secondary-disabled-text: #717788;
  --c-button-secondary-disabled-stroke: var(--c-stroke-button);

  //Tabs
  --c-tabs-background: rgba(237, 234, 255, 0.3);
  --c-tabs-stroke: #d6d8e5;

  --c-tab-default-active-background: var(--c-background-color);
  --c-tab-default-active-stroke: #eaecf4;
  --c-tab-default-active-text: var(--c-accent);

  --c-tab-hover-active-background: #edeaff;
  --c-tab-hover-active-stroke: var(--c-tabs-stroke);
  --c-tab-hover-active-text: var(--c-accent);

  --c-tab-pressed-active-background: #edeaff;
  --c-tab-pressed-active-stroke: var(--c-malibu);
  --c-tab-pressed-active-text: var(--c-accent);

  --c-tab-focus-active-background: rgba(60, 30, 254, 0.2);
  --c-tab-focus-active-stroke: var(--c-accent);
  --c-tab-focus-active-text: var(--c-accent);

  --c-tab-default-inactive-text: var(--c-text-secondary);
  --c-tab-inactive-text: var(--c-accent);

  /* 
  ================
      Variables 
  ===============*/

  //Card
  --v-card-max-width: 35.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%; //10px/16px = 62.5%, 1rem = 10px;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-block: 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.wrapper {
  width: min(1312px, calc(100% - 64px));
  margin-inline: auto;
}

//Jedna połowa
.wrapper-half {
  width: min(656px, calc(100% - 32px));
  margin-left: auto;
  margin-right: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

//Globalne style dla swipera

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-width: 35.2rem;

  text-align: center;
  background-color: transparent;
  border-radius: 0.8rem;

  @include desktopSmall {
    max-width: initial;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
